div.tabs .forabg{
	display: none;
}
/*The below CSS is required for tabs styling but results in quicklink menu */
#ttabs div:first-of-type{
	display: block;
}
div.tabs li
{
    display:inline;
}
#ttabs > ul:after {
	clear: both;
	content: '';
	display: block;
}
#ttabs{
	line-height: normal;
}

#ttabs > ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#ttabs .tab{
	display: block;
	float: left;
	font-size: 1em;
	font-weight: bold;
	line-height: 14px;
}

#ttabs .tab > a {
	display: block;
	padding: 5px 9px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	margin: 1px 1px 0 0;
	cursor: pointer;
	/*color css */
	background: #BACCD9;
	color: #536482;
}
#ttabs {
	margin: 20px 0 0 7px;
}
#ttabs .activetab > a {
	margin-top: 0;
	padding-bottom: 7px;
}
/*color specific Css */
#ttabs .tab > a:hover {
	background: #DDEDFB;
	color: #D31141;
}

#ttabs .activetab > a,
#ttabs .activetab > a:hover {
	background: #CADCEB;
	background: -moz-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E2F2FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -o-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: linear-gradient(to bottom, #E2F2FF 0%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F2FF', endColorstr='#CADCEB', GradientType=0 );
	border-color: #CADCEB;
	box-shadow: 0 1px 1px #F2F9FF inset;
	color: #333333;
}

#ttabs .activetab > a:hover {
	color: #000000;
}