<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
	<script type="text/javascript">
		$(document).ready(function(){
			forumname = '{forumrow.FORUM_NAME}';
			cat_name = forumname.replace(/\s+/g, '');
			var nilul = '<ul id="forumtabs"></ul>'
			var nili = '<li class="tab"><a href="#tabs-' + cat_name + '">{forumrow.FORUM_NAME}</a></li>';
			var nilu = '<li class="tab activetab"><a href="#tabs-' + cat_name + '">{forumrow.FORUM_NAME}</a></li>';
			var li_found = $( "#tabs" ).find( "li.tab" ).length;
			if (li_found > 0){
				$('#tabs #forumtabs').append(nili);
			}
			else{
				$('#tabs').prepend(nilul);
				$('#tabs #forumtabs').append(nilu);

			}
			$("#tabs li a").on('click', function(){
				var curdiv = $(this).attr('href');
				$('#tabs li').removeClass('activetab');
				$(this).parent().attr('class', 'tab activetab');
				$('div.tabs .forabg').css('display', 'none');
				$(curdiv).css('display', 'block');
			});
		});
	</script>
<!-- ENDIF -->